
var environments = {
    'sandbox' : {
        'url' : 'https://dev.speechpad.com/services',
        'access_key': '',
        'secret_key': ''
    },
    'production': {
        'url' : 'https://www.speechpad.com/services',
        'access_key': '',
        'secret_key': ''
    }
};

var environment = 'sandbox';

module.exports = environments[environment];
